<%= if @current_user do %>
  <%= link "Pricing and Plans",
        to: Routes.pricing_page_path(@conn, :index),
        class: "text-gray-400 block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4" %>
  <%= link "Start A Subscription",
        to: Routes.subscription_new_path(@conn, :new),
        class: "text-gray-400 block mt-4 lg:inline-block lg:mt-0 text-white-200 hover:text-white mr-4" %>
<% end %>
